<!-- <div id="main-container">
    <div id="movie-list">

        <div class="movie-card" *ngFor="let item of movieArrays">
            <img src="{{  'http://image.tmdb.org/t/p/w500/'   +item.poster_path}}" alt="">
            <div class="desc">
                <h3>{{item.title}}</h3>
                <p>{{item.popularity}}</p>
            </div>
        </div>



    </div>

</div> -->

<!-- <div class="container col-sm-4 d-flex pb-3 " *ngFor="let item of movieArrays">
    <div class="row">
        <div class="card  " style="width: 25rem;">
            <img class="card-img-top" src="{{  'http://image.tmdb.org/t/p/w500/'   +item.poster_path}}" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div> -->



<!-- 
<div id="main-container">
    <div id="movie-list">

        <div class="movie-card" *ngFor="let item of movieArrays">
            <img src="{{  'http://image.tmdb.org/t/p/w500/'   +item.poster_path}}" alt="The Avengers Movie Poster">
            <div class="desc">
                <h3>{{item.title}}</h3>
                <p>{{item.release_date}}</p>
            </div>
        </div>



    </div>

</div> -->

<div class="row">
   
    <div class="example-2 card" *ngFor="let item of movieArrays">
      <div class="wrapper" [ngStyle]="{'background': '#fff url(' +  'http://image.tmdb.org/t/p/w500/' + item.poster_path +  ')  no-repeat 0 0'}">
        <div class="header">
          <div class="date">
            <span class="day">{{item.release_date}}</span>
   
          </div>
          <ul class="menu-content">
            <li>
              <a href="#" class="fa fa-bookmark-o"></a>
            </li>
            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author"> Popularity: {{item.popularity}}</span>
            <h1 class="title"><a href="#">{{item.title}}</a></h1>
            <p class="text">{{item.overview}}</p>
            <a href="#" class="button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  