<app-search></app-search>


<app-swiper>

</app-swiper>

<h1>The most popular</h1>


<div class="cards-list" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">

    <div class="card " *ngFor="let item of movieArrays let i = index" (click)="onSelect(item)">

        <div class="card__rating">

            <circle-progress [percent]="item.vote_average" [radius]="25" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#78C000'" [animation]="true" [animationDuration]="300" [startFromZero]="false"></circle-progress>
            <!-- You can now use it in app.component.html -->

        </div>
        <div class="card_image">
            <ng-container>
                <img src="{{  'http://image.tmdb.org/t/p/w500/'   +item.poster_path}}" />
            </ng-container>


        </div>

        <div class="card_title title-white">

        </div>
    </div>


</div>